<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <img
      src="https://assets-global.website-files.com/576d13c8eb5794cb5888fc50/58096e8493413a7754034fdb_reliablesoftware.png"
      class="logo" alt="Cinque">
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link h2" href="#">
          SCORECARD
        </a>
        
      </li> 
      <li class="nav-item d-md-none">
        <a class="nav-link h2" href="#">
          <i class="fa fa-cog text-white">
         </i>
        </a>
      </li>
    </ul>
  </div>
  <i class="fa fa-cog d-none d-md-block text-white"></i>
</nav>